# Node / Next
node_modules
.next
.turbo
.swc

# Env & secrets
.env
.env
.env.local
.env.*.local
apps/web/.env
apps/web/.env.local
mongodb-backup-*
apps/web/migration-output/
apps/web/migration.log

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

# Editor
.idea
.vscode

# Output
dist
build

